@charset "UTF-8";

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url('../../fonts/open-sans-v18-latin-regular.woff2') format('woff2'),
    url('../../fonts/open-sans-v18-latin-regular.woff') format('woff');
}

/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
    url('../../fonts/open-sans-v18-latin-italic.woff2') format('woff2'),
    url('../../fonts/open-sans-v18-latin-italic.woff') format('woff');
}

/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
    url('../../fonts/open-sans-v18-latin-600.woff2') format('woff2'),
    url('../../fonts/open-sans-v18-latin-600.woff') format('woff');
}

/* open-sans-600italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'),
    url('../../fonts/open-sans-v18-latin-600italic.woff2') format('woff2'),
    url('../../fonts/open-sans-v18-latin-600italic.woff') format('woff');
}

/* [ last update 05 Jan 2021 ] */

body {
  font-size: 100%;
  font-family: 'Open Sans', 'Verdana', 'Arial', Sans-Serif;
  margin: 0;
  padding: 0 0 10px 0;
}

html {
  position: relative;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; /* Padding and borders increase box */
  overflow-y: scroll;
  -webkit-overflow-scrolling:touch; /* Added */
}

#wrap {
  text-align: left;
  background: #fff;
  font-size: 1.1em;
}

h1 {
  margin: 0 auto 0.4em auto;
  padding: 8px 0 9px 0;
  height: auto;
  font-size: 0.9em;
  line-height: 1.2;
  text-align: center;
  font-weight: normal;
  color: #fff;
  background: #222;
}

h1 a {
  color: #cff;
}

h1 a:hover {
  color: #fff;
}

main {
  margin: 0 auto 2.0em auto;
  text-align: left;
  font-size: 0.8em;
  line-height: 1.1;
  background: #fff url('../../img/bg_footer.gif') no-repeat;
  background-position: center bottom;
}

@media screen and (min-width: 740px) {

  main {
    width: 640px;
    padding: 1.0em 20px 3.0em 20px;
  }

}

@media screen and (max-width: 739px) {

  main {
    max-width: 640px;
    padding: 1.0em 10px 3.0em 10px;
  }

}

#results {
  margin: 1.1em 0 1.1em 0;
  padding-top: 4px;
  padding-bottom: 4px;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
}

p {
  margin: 2px 0 6px 0;
  padding: 0;
  line-height: 1.1;
}

p.pword {
  margin: 0 auto 6px auto;
  text-align: center;
}

p.footer {
  text-align: center;
}

p.response {
  width: max-content;
  margin: 0.4em 0 1.4em 0;
  padding: 7px 10px 7px 10px;
  border: 1px solid #fe7f40;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  line-height: 1.2;
}

ol {
  margin: 10px 0 12px 10px;
  padding: 0;
}

li {
  margin-left: 22px;
  margin-bottom: 3px;
  line-height: 1.3;
}

li.index {
  margin-bottom: 2px;
}

span {
  color: #c63;
}

span.mute {
  color: #999;
}

span.info {
  color: #396;
}

h1 span {
  color: #c63;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: #000;
}

form.pw {
  margin: 1.2em auto 1.2em auto;
  padding: 14px 10px 12px 10px;
  width: 180px;
  text-align: center;
  background: #f9f9f9;
  border: 1px solid #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

input[type=password] {
  display: block;
  margin: 4px auto 4px auto;
  padding: 5px 4px;
  width: 140px;
  font-size: 1.0em;
  background-color: #fff;
  border: 1px solid #bbb;
  border-radius: 5px;
  font-family: 'Open Sans', 'Verdana', 'Arial', Sans-Serif;
}

input[type=submit] {
  width: 100px;
  display: inline;
  margin: 6px 0 6px 0;
  padding: 7px 22px 8px 20px;
  text-align: center;
  font-size: 1.0em;
  color: #03f;
  background-color: #fff;
  border: 1px solid #bbb;
  border-radius: 5px;
  font-family: 'Open Sans', 'Verdana', 'Arial', Sans-Serif;
}

input[type=submit].dark:hover {
  color: #fff;
  background-color: #b85454;
  border: 1px solid #b85454;
  cursor: pointer;
}

input[type=submit].password:hover,
input[type=submit].light:hover {
  color: #000;
  background-color: #f9f9f9;
  border: 1px solid #999;
  cursor: pointer;
}

input:focus {
  outline: none;
}

input { /* Attempt to override 'Mac' defaults */
  /* -moz-appearance: none; */
  -webkit-appearance: none;
  /* appearance: none; */
  outline: none;
}

input[type=password] {
  filter: none; /* Gets rid of yellow bg */
}

hr {
  clear: both;
  display: block;
  margin: 0.6em auto 1.0em auto; /* Trial and error */
  padding-bottom: 1px;
  height: 0;
  width: 100%;
  background: #fff;
  border: none;
  border-top: 1px solid #bbb;
}
