@charset "UTF-8";

/* open-sans-regular (400) - latin */
@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v40-latin-regular.woff2') format('woff2');
}

/* open-sans-italic (400) - latin */
@font-face {
  font-display: swap; 
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/open-sans-v40-latin-italic.woff2') format('woff2');
}

/* open-sans-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/open-sans-v40-latin-600.woff2') format('woff2');
}

/* open-sans-600italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/open-sans-v40-latin-600italic.woff2') format('woff2');
}

/* ubuntu-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/ubuntu-v20-latin-500.woff2') format('woff2');
}

/* ubuntu-500italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/ubuntu-v20-latin-500italic.woff2') format('woff2');
}

/* [last update 25 June 2024] */
/* Self-hosted fonts */

@media screen {

/* normalize-unminified.css minified (all screen widths) */
*{margin:0;padding:0}html{margin:0;font-size:16px;position:relative;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;-webkit-text-size-adjust:100%;box-sizing:content-box}body{margin:0;overflow-y:scroll;text-align:center;line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}:root{--black:#000;--white:#fff;--link:#f09;--font:"Open Sans", sans-serif}h1{font-family:"Ubuntu",sans-serif;font-weight:500}h2,h3,h4,h5,h6{font-family:var(--font),sans-serif;font-weight:600}small{font-size:90%}img{vertical-align:bottom}input,select,textarea{-webkit-appearance:none;outline:none}input:focus,select:focus,textarea:focus,button:focus{outline:none}a:active,a:hover{outline:0}a{background:#fff0}span{color:#649300}span.red{color:crimson}span.blue{color:#39f}span.orange{color:#e18d08}span.grey{color:#999}span.u{border-bottom:1px solid var(--black);color:var(--black)}input[type=password]{filter:none}

}

@media print {

/* print-unminified.css minified '[last update 00.20 June 25 2020] */
*{margin:0;padding:0}html{margin:0;font-size:16px;position:relative;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;-webkit-text-size-adjust:100%;box-sizing:content-box}body{margin:0;overflow-y:scroll;text-align:center;line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}:root{--black:#000;--white:#fff;--link:#f09;--font:"Open Sans", sans-serif}h1{font-family:"Ubuntu",sans-serif;font-weight:500}h2,h3,h4,h5,h6{font-family:var(--font),sans-serif;font-weight:600}small{font-size:90%}img{vertical-align:bottom}input,select,textarea{-webkit-appearance:none;outline:none}input:focus,select:focus,textarea:focus,button:focus{outline:none}a:active,a:hover{outline:0}a{background:#fff0}span{color:#649300}span.red{color:crimson}span.blue{color:#39f}span.orange{color:#e18d08}span.grey{color:#999}span.u{border-bottom:1px solid var(--black);color:var(--black)}input[type=password]{filter:none}

}
