/* [ last update 01 Dec 2020 ] */

body {
  font-size: 100%;
  font-family: 'Verdana', 'Arial', Sans-Serif;
}

#wrap {
  padding: 2.0em 10px;
  font-size: 0.8em;
  line-height: 1.1;
}

#results {
  margin: 1.1em 0 1.1em 0;
  padding-top: 4px;
  padding-bottom: 4px;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
}

h1 {
  margin: 0 0 1.4em 0;
  font-size: 1.3em;
  font-weight: normal;
}

p {
  margin: 2px 0 6px 0;
}

ol {
  margin: 10px 0 0 10px;
  padding: 0;
}

li {
  margin-left: 27px;
}

span {
  color: #c63;
}

h1 span {
  color: #c63;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: #000;
}

input[type=password] {
  display: block;
  margin: 4px 6px 4px 0;
  padding: 5px 4px;
  width: 140px;
  font-size: 1.0em;
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 5px;
  font-family: 'Verdana', 'Arial', Sans-Serif;
}

input[type=submit] {
  width: 100px;
  display: inline;
  margin: 6px 0 6px 0;
  padding: 7px 22px 8px 20px;
  text-align: center;
  font-size: 1.0em;
  color: #03f;
  background-color: #fff;
  border: 1px solid #bbb;
  border-radius: 5px;
  font-family: 'Verdana', 'Arial', Sans-Serif;
}

input[type=submit].dark:hover {
  color: #fff;
  background-color: #b85454;
  border: 1px solid #b85454;
  cursor: pointer;
}

input[type=submit].password:hover,
input[type=submit].light:hover {
  color: #000;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  cursor: pointer;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

input { /* Attempt to override 'Mac' defaults */
  /* -moz-appearance: none; */
  -webkit-appearance: none;
  /* appearance: none; */
  outline: none;
}

input[type=password] {
  filter: none; /* Gets rid of yellow bg */
}

hr {
  clear: both;
  display: block;
  margin: 0.6em auto 1.0em auto; /* Trial and error */
  padding-bottom: 1px;
  height: 0;
  width: 100%;
  background: #fff;
  border: none;
  border-top: 1px solid #bbb;
}
