/* 'Standalone' CSS: all the rules required for max-width: 797px */
/* Unminified version [last update 17 July 2021] */

/*

Main breakpoint: 640/641px

RULE ORDER:
Font size and H1 adjustments
Nav links
General text: p, lists, blockquote, span
Box layout 1, main boxes
Box layout 2, optional boxes
Images
Video
Links
Misc
Forms

*/

body {
  background: #fff;
  font-size: 100%; /* 1.0em = 16px */
}

#wrap {
  position: relative;
  width: 100%;
  color: #000;
  background: #f9f9f9;
  text-align: left;
  font-family: "Open Sans";
}

/* OVERALL FONT SIZE ADJUSTMENTS */
/* ================================================== */

/* Wider than portrait mobiles */
@media screen and (min-width: 641px) {

  #wrap {
    font-size: 1.15em;
    line-height: 1.6;
  }

}

/* Mobiles */
@media screen and (max-width: 640px) {

  #wrap {
    font-size: 1.0em;
    line-height: 1.6;
  }

}

/* NAV LINKS */
/* ================================================== */

nav li a,
nav li strong {
  display: inline;
  padding: 0.35em 0.6em;
}

nav li strong {
  color: #649300;
  background: #fff;
  font-weight: normal;
}

nav li a {
  color: #000;
  background: #fff;
}

nav li.admin a {
  color: #ff0099;
}

nav li a:hover {
  color: #ff0099;
}

/* GENERAL TEXT STYLES */
/* ================================================== */

/* Top bits first */

p#sitename {
  position: fixed;
  top: 0; left: 0;
  height: 34px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0 0 0;
  text-align: center;
  font-size: 0.85em;
  font-weight: 600;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #fff;
  background: #000;
  border-bottom: 1px solid #000;
  opacity: 0.75;
  z-index: 2;
}

nav ul {
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
  font-size: 1.0em;
  list-style-type: none;
  line-height: 1.2;
  text-transform: capitalize;
}

nav li {
  display: inline-block;
  margin: 0.35em 0;
}

nav strong {
  font-weight: normal;
}

h1 {
  font-family: "Ubuntu", sans-serif;
  margin: 1.1em 20px 0 20px;
  padding: 0 0 0.25em 0;
  text-align: center;
  font-size: 1.8em;
  line-height: 1.2;
  letter-spacing: 0;
  font-weight: 500;
  text-shadow: 1px 1px 3px #ccc;
  border-bottom: 1px solid #f9f9f9;
}

h1 span {
  color: #649300;
}

h1#s {
  text-align: center;
}

h2, h3 {
  margin: 1.0em 20px 0 20px;
  font-size: 1.5em;
  line-height: 1.4;
  letter-spacing: -1px;
}

h4, h6 {
  margin: 1.2em 20px 0 20px;
  font-size: 1.3em;
  line-height: 1.4;
}

h5 {
  margin: 1.2em auto 0 auto;
  text-align: center;
  font-size: 1.3em;
  line-height: 1.4;
}

#comments h4 {
  margin-bottom: 1.0em;
  padding-bottom: 0.25em;
  border-bottom: 6px solid #ddd;
}

#comments h6 {
  margin-top: 1.4em;
  margin-bottom: 0.9em;
  text-align: left;
  font-size: 1.3em;
  font-weight: 600;
  line-height: 1.0;
}

/* See links for h6#comment */

p strong, p b, ul strong, ul b {
  font-weight: 600;
}

p {
  margin: 1.0em 20px 1.0em 20px;
  font-size: 1.0em;
  overflow-wrap: break-word;
}

#s p {
  text-align: center;
  margin-bottom: 0;
}

p.w { /* Full width */
  margin: 1.0em 0 1.0em 0;
  line-height: 1.0;
}

p.caption {
  margin: -0.8em auto 1.5em auto;
  padding: 0 10px 0.5em 10px;
  width: 60%;
  text-align: center;
  font-size: 0.9em;
  color: #000;
  border-bottom: 1px solid #555;
}

p.video { /* For video (add to "caption"' */
  margin-top: -0.8em;
}

p.meta { /* For 'page modified on' date */
  margin-top: 2.0em;
  font-size: 0.9em;
  color: #999;
}

p.metadata { /* For publish dates etc */
  font-size: 0.9em;
  color: #649300;
}

p.video { /* Class to add to caption for video */
  margin-top: -1.0em;
}

#pw p {
  margin-bottom: 0;
  text-align: center;
}

/* See also img section */
.w1200 .box p {
  margin: 0 auto 0 auto;
  padding: 0;
}

div.bg1 p,
div.bg2 p,
div.bg3 p,
div.bg4 p {
  margin: 1.0em 50px 1.0em 50px;
}

blockquote {
  margin: 1.2em 20px 1.2em 20px;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  border-left: 6px solid #9cc;
  color: #444;
  background: #fff;
}

blockquote p {
  margin: 1.0em 15px 1.0em 15px;
}

.group div p {
  margin: 1.0em 0 1.0em 0;
}

.slideshow-container .mySlides p {
  max-width: 92%;
}

.slideshow-container p {
  margin: -1.0em auto 0 auto;
  text-align: center;
  font-size: 0.9em;
}

.bullets br {
  display: none;
}

#content ul, ol {
  margin: 0.6em 20px;
  font-size: 1.0em;
  text-align: left;
}

ul {
  list-style-position: inside;
}

li {
  padding: 0.2em 0;
}

ol li {
  margin-left: 25px;
}

div.bg1 li,
div.bg2 li,
div.bg3 li,
div.bg4 li {
  margin-right: 32px;
  margin-left: 32px;
}

ul.listing {
  margin: 1.6em 20px 1.6em 20px;
  list-style-type: none;
  border-top: 1px solid #ddd;
}

ul.listing li {
  padding: 0.6em 0 0.6em 0;
  border-bottom: 1px solid #ddd;
}

footer p {
  margin: 0.2em auto 0.2em auto;
  width: 80%;
  text-align: center;
}

/* BOX LAYOUT */
/* ================================================== */
/* Main boxes */

nav {
  display: block;
  margin: 56px 0 0 0;
  padding: 1.0em 0 0.9em 0;
  background: #fff;
  border-bottom: 1px solid #bbb;
  text-align: center;
}

#content {
  padding-bottom: 0.6em;
}

@media screen and (min-width: 641px) {

  #content {
    padding-right: 20px;
    padding-left: 20px;
  }

}

.comments {
  margin: 0;
  padding: 0;
}

.extras {
  margin-right: 0;
  margin-left: 0;
}

footer {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto 0 auto;
  padding: 1.6em 0 3.0em 0;
  border-top: 1px solid #ddd;
  border-bottom: 2.8em solid #fff;
  font-size: 0.9em;
  text-align: center;
  color: #000;
  background: #fff url("../img/bg_footer.gif") no-repeat;
  background-position: center bottom;
}

/* BOX LAYOUT */
/* ================================================== */
/* Optional boxes */

section {
  margin: 0 auto;
  max-width: 600px;
}

div.bg1,
div.bg2,
div.bg3,
div.bg4 {
  width: auto;
  overflow: auto;
  margin: 1.6em auto 1.6em auto;
  padding: 0.8em 0 0.8em 0;
}

@media screen and (min-width: 641px) {

  div.bg1,
  div.bg2,
  div.bg3,
  div.bg4 {
    margin-right: 20px;
    margin-left: 20px;
  }

}

div.bg1 {
  color: #f1fdd7;
  background: #6b3960;
}

div.bg2 {
  color: #000;
  background: #eee;
}

div.bg3 {
  color: #6b701f;
  background: #fdfeeb;
  border-top: 1px solid #dee47e;
  border-bottom: 1px solid #dee47e;
  border-right: none;
  border-left: none;
}

div.bg4 {
  color: #444;
  background: #fff;
  border-top: 6px solid #ddd;
  border-bottom: 6px solid #ddd;
}

.group { /* For 'tabley' things */
  margin: 1.6em auto;
  padding: 1.0em 20px;
  background: #fff;
  border-top: 6px solid #9cc;
  border-bottom: 6px solid #9cc;
}

.group div { /* Each column */
  display: inline-block;
  padding-right: 20px;
  line-height: 1.5;
  font-size: 0.9em;
}

.box {
  background: #ebebeb;
  margin: 1.6em auto 2.1em auto;
  padding: 29px;
  width: auto;
  text-align: center;
  border: 1px solid #ebebeb; /* Concealed */
  border-radius: 0px;
  /* x-value y-value blur spread color */
  box-shadow: 0px 15px 15px 0px rgba(187,187,187,1);
}

div.box p,
div.box ul,
div.box ol {
  text-align: left;
}

.w1200 .box {
  margin: 1.6em 20px 2.1em 20px;
}

.slideshow-container {
  position: relative;
  margin: 1.6em auto 1.6em auto;
  padding: 0; /* Ditto */
}

.w1200 .slideshow-container {
  width: 100%;
  max-width: 797px;
}

.mySlides { /* div containing each img */
  display: none;
}

.dotcontainer {
  text-align: center;
  margin: 0 auto;
}

.bullets { /* For slides (see links) */
  display: inline-block;
  text-align: center;
  margin: 0 auto 1.6em auto;
  padding: 0;
  line-height: 1;
}

/* IMAGES */
/* ================================================== */

img,
object { /* All images and objects */
  display: block;
  margin: 1.6em auto 1.6em auto; /* Trial and error */
  float: none;
  max-width: 100%;
  height: auto;
  /* For margins, see margin control above */
  padding: 0;
  vertical-align: bottom;
}

img.box,
object.box { /* See .box above */
  max-width: 85%;
  margin-bottom: 2.1em;
}

.w1200 .box img,
.w1200 .box object {
  margin: 0 auto 0 auto;
  padding: 0;
}

#content .slideshow-container img {
  width: auto;
  height: auto;
}

.w1200 .slideshow-container img {
  width: auto;
  margin-right: auto;
  margin-left: auto;
  height: auto;
}

/* VIDEO */
/* ================================================== */

.tv { /* Video lozenge */
  margin: 1.6em 20px 2.1em 20px;
  width: auto;
  text-align: center;
  background: #ebebeb;
  /* x-value y-value blur spread color */
  box-shadow: 0px 25px 25px 0px rgba(187,187,187,1);
}

@media screen and (min-width: 641px) {

  .tv { /* Video lozenge */
    padding: 40px;
    border-radius: 45px;
  }

}

@media screen and (min-width: 481px) and (max-width: 640px) {

  .tv { /* Video lozenge */
    padding: 30px;
    border-radius: 35px;
  }

}

@media screen and (min-width: 320px) and (max-width: 480px) {

  .tv { /* Video lozenge removed*/
    margin: 1.6em auto 1.6em auto;
    padding: 0;
    width: auto;
    text-align: center;
    border-radius: 0;
    background: #f9f9f9;
    /* x-value y-value blur spread color */
    box-shadow: none;
  }

}

div.video {
  display: block;
  margin: 1.2em auto 1.0em auto; /* Trial and error */
  text-align: center;
}

video {
  max-width: 100% !important;
  height: auto !important;
  background: #ebebeb;
}

.tv .video { /* Video lozenge */
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 481px) {

  .tv .video video {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    border-radius: 20px;
  }

}

.iframe-wrapper {
  clear: both;
  margin: 1.6em 0 1.6em 0; /* Trial and error  */
  position: relative;
  overflow: hidden;
  /* For margins, see margin control above */
  padding: 56.25% 0 0 0;
}

.iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

iframe {
  height: auto;
  border: none;
  margin: 0;
  padding: 0;
  background: #ebebeb;
}

/* MISC */
/* ================================================== */

hr {
  margin: 1.4em auto 1.2em auto;
  padding-bottom: 1px;
  height: 0;
  width: 100%;
  background: #f9f9f9;
  border: none;
  border-top: 1px solid #ddd;
}

hr.section {
  margin: 2.4em auto 2.2em;
  width: 60%;
  border: none;
  border-top: medium double #999;
  background: #f9f9f9;
}

span,
.response {
  color: #649300;
}

span.u {
  border-bottom: 1px solid #000;
  color: #000;
}

pre {
  margin: 1.0em 0 1.0em 0;
  padding: 1.0em 20px;
  font-size: 1.05em;
  font-weight: 400;
  color: #606;
  background: #fff;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  line-height: 1.4em;
  width: auto;
  word-break: break-all;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap !important;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.toggle-content { /* Requires /js/toggle.js */
  display: none;
}

.toggle-content.is-visible {
  display: block;
}

/* Full-width backgrounds mainly for p class = "w" */

.bg00 { /* Darkish grey */
  background: #666;
}

.bg01 { /* Mid grey */
  background: #ccc;
}

.bg02 { /* Light grey */
  background: #eee;
}

.bg03 { /* Black */
  background: #000;
}

.bg04 { /* Teal */
  background: #9cc;
}

.bg05 { /* Blue-grey */
  background: #88a2b5;
}

.bg06 { /* Tan */
  background: #b9a689;
}

.bg07 { /* Mauve */
  background: #9d819d;
}

.bg08 { /* Dark pink */
  background: #c99;
}

/* LINKS */
/* ================================================== */

a {
  color: #ff0099;
  text-decoration: none;
}

a:hover {
  color: #000;
}

a img {
  border: none;
}

p#sitename a {
  color: #fff;
}

p#sitename a:hover {
  color: #e4ff00;
}

/* Slides */

.slideshow-container a.prev,
.slideshow-container a.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 10px;
  color: #000;
  background: #999;
  font-weight: 600;
  font-size: 0.9em;
  transition: 0.6s ease;
  user-select: none;
  opacity: 0.65;
}

.slideshow-container a.prev {
  left: 0;
  padding: 13px 14px 13px 13px;
  border-width: 1px 1px 1px 0;
  border-color: #fff;
  border-style: solid;
  border-radius: 0 6px 6px 0;
}

/* Position the "next button" to the right */
.slideshow-container a.next {
  right: 0;
  padding: 13px 13px 13px 14px;
  border-width: 1px 0 1px 1px;
  border-color: #fff;
  border-style: solid;
  border-radius: 6px 0 0 6px;
}

/* On hover add a black background with a little bit of see-through */
.slideshow-container a.prev:hover,
.slideshow-container a.next:hover {
  color: #ff0099;
  background: rgba(0,0,0,0.8);
  opacity: 0.8;
}

/* Counteract 100% font size on mobiles */
@media screen and (max-width: 797px) {

  .slideshow-container a {
    font-size: 75%;
  }

  .slideshow-container a.slidecaptionlink {
    font-size: 100%;
  }

}

.dot {
  cursor: pointer;
  height: 25px;
  width: 25px;
  margin: 0 1.0em;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.bullets .active,
.dot:hover {
  background-color: #649300;
}

/* End slides */

footer p a {
  color: #000;
}

footer p a:hover {
  color: #ff0099;
}

/* End links */

/* FORMS */
/* ================================================== */

form.contactform {
  margin: 0 20px 0 20px;
  padding: 0 0 1.35em 0;
  text-align: left;
  background: #f9f9f9;
}

.zap {
  display: none;
}

input[type=text] {
  display: block;
  margin: 0;
  padding: 0.5em 5px;
  width: 75%;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 0.25em;
  font-size: 1.0em;
}

form.contactform label {
  display: block;
  margin-top: 0.6em;
  margin-bottom: 0;
  line-height: 0.6;
}

input.zap {
  display: none;
}

textarea {
  margin: 0;
  padding: 0.5em 5px;
  width: 96.5%;
  height: 10.0em;
  font-size: 1.1em;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 0.25em;
}

.submit {
  margin: 0.5em 0 0 0;
  padding: 0.5em 1.5em 0.6em 1.5em;
  color: #ff0099;
  background-color: #fff;
  border: 1px solid #bbb;
  border-radius: 0.5em;
  font-size: 1.1em;
}

.submit:hover {
  color: #000;
}

form.search,
form.pw {
  width: 100%;
  margin: 1.0em auto 1.5em auto;
  text-align: center;
}

input[type=password] {
  border: 1px solid #ddd;
}

form.search input[type=search],
form.pw input[type=password] {
  display: block;
  margin: 0.5em auto 0.5em auto;
  padding: 0.5em 5px;
  background: #fdffe4;
  border: 1px solid #dee47e;
  border-radius: 0.25em;
  font-size: 1.0em;
  text-align: left;
}

@media screen and (max-width: 640px) {

  form.search input[type=search],
  form.pw input[type=password] {
    width: 70%;
  }

}

@media screen and (min-width: 641px) {

  form.search input[type=search],
  form.pw input[type=password] {
    width: 50%;
  }

}

.search input[type=search]:hover,
input[type=search]:focus,
.pw input[type=password]:hover,
input[type=password]:focus {
  background: #fff;
  border: 1px solid #ddd;
}

::placeholder { /* Chrome, Firefox, Opera, Safari */
  color: #999;
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #999;
}

.search .submit,
.pw .submit {
  display: block;
  margin: 0.5em auto 0 auto;
  padding: 0.5em 1.5em;
  font-family: "Open Sans";
  font-size: 1.1em;
}

/* BOX LIST */
/* ================================================== */

#content .boxlist {
  list-style-type: none;
  margin: 0 auto 0 auto;
  padding: 0;
  max-width: 560px;
  text-align: center;
  color: #666;
}

@media screen and (max-width: 617px) {

  #content .boxlist {
    margin: 0.4em 20px 0.4em 20px;
    text-align: center;
  }

}

.boxlist li {
  margin: 0;
  padding: 0;
}

.boxlist li a {
  display: block;
  margin: 1.0em 0;
  padding: 0.8em 18px 0.8em 18px;
  color: #000;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 0;
  text-align: left;
  -webkit-box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.3);
}

.boxlist li a:hover {
  color: #000;
  background: #9cc;
  border: 1px solid #9cc;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
