/* 'Normalizer' (unminified) for all screen widths [ last update 29 June 2024 ] */

/* When minified, paste into /css/common-g.css  and /css/common-h.css */

* { margin: 0; padding: 0; }

html {
  margin: 0;
  font-size: 16px;
  position: relative;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
  box-sizing: content-box; /* Padding and borders increase box */
}

body {
  margin: 0;
  overflow-y: scroll; /* MOVED Show vertical scrollbar */
  text-align: center;
  line-height: 1.0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/* CSS variables */
:root {
  --black: #000;
  --white: #fff;
  --link: #f09;
  --font: "Open Sans", sans-serif;
}

h1 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}

h2, h3, h4, h5, h6 {
  font-family: var(--font), sans-serif;
  font-weight: 600;
}

small {
  font-size: 90%;
}

img {
  vertical-align: bottom; /* Put this in minified version and remove elsewhere */
}

input,
select,
textarea { /* Attempt to override 'Mac' defaults */
  /* -moz-appearance: none; */
  -webkit-appearance: none;
  /* appearance: none; */
  outline: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* Improve readability when focused / hovered in all browsers */
a:active,
a:hover {
  outline: 0;
}

a {
  /* Remove grey background from active links in IE 10 */
  background: transparent;
}

span { color: #649300; }
span.red { color: #dc143c; }
span.blue { color: #39f; }
span.orange { color: #e18d08; }
span.grey { color: #999; }

span.u {
  border-bottom: 1px solid var(--black);
  color: var(--black);
}

input[type=password] {
  filter: none; /* Gets rid of yellow bg */
}
