@charset "UTF-8";

/* open-sans-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v40-latin-regular.woff2') format('woff2');
}

/* open-sans-italic - latin */
@font-face {
  font-display: swap; 
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/open-sans-v40-latin-italic.woff2') format('woff2');
}

/* open-sans-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/open-sans-v40-latin-600.woff2') format('woff2');
}

/* open-sans-600italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/open-sans-v40-latin-600italic.woff2') format('woff2');
}

/* [last update 25 May 2024] */

* { margin: 0; padding: 0; }

html, body {
  margin: 0;
}

html {
  font-size: 14px;
  position: relative;
  box-sizing: content-box; /* Padding and borders increase box */
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

body {
  text-align: center;
  font-family: 'Open Sans', Sans-Serif;
  background-color: #333;
  overflow-y: scroll;
}

#wrap {
  background: #fff;
  font-size: 1.0rem;
  line-height: 1.4;
}

/* -------------------------------------------------- */
/* Login form */

#loginform {
  padding: 10px 20px 70px 20px;
  text-align: center;
  font-size: 1.0em;
  line-height: 1.4;
  background: #fff url('img/bg_footer.gif') no-repeat;
  background-position: bottom 30px center;
}

@media screen and (min-width: 481px) {

  #loginform {
    margin: 3.0em auto;
    max-width: 360px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
  }

}

@media screen and (max-width: 480px) {

  #loginform {
    margin: 0 auto 3.0em auto;
  }

}

#loginform h1 {
  text-align: center;
  padding-bottom: 0;
  border-bottom: 3px solid #fff;
}

#loginform p {
  margin: 0 0 0.4em 0;
}

/* ================================================== */
/* LAYOUT */
/*
#boxes = pages and install
#boxes-setup = setup
#buttons = index, styles and stopwords
#buttons-setup = setup
#bottom = setup
#info = htaccess and backup
*/

#o {
  margin: 0 auto;
  padding: 0 20px; /* Space at sides of #wrap */
  max-width: 1160px; /* Can be anything */
  text-align: center;
}

@media screen and (max-width: 640px) {

  #o { padding: 0; }

}

#wrap {
  width: 100%:
  margin: 0 auto;
  padding: 0 20px;
  text-align: left;
}

/* See 837px max-width below */
@media screen and (min-width: 838px) {

  /* box-sizing: border-box; not needed */
  /* (#boxes has no width padding) */
  #boxes {
    width: calc(100% - 200px);
    display: inline;
    float: left;
  }

  #boxes textarea {
    min-height: 420px;
    max-height: 680px;
    field-sizing: content;
    writing-mode: horizontal-tb;
    min-block-size: 420px;
    max-block-size: 680px;
  }

  #buttons { /* Buttons etc on right */
    display: inline;
    float: right;
  }

}

/* END FLOATS */
/* ================================================== */

#boxes { /* pages, styles, stopwords */
  margin-bottom: 10px;
}

#buttons { /* pages, styles, stopwords */
  margin: 0 0 10px 0;
  width: 180px;
}

/* ================================================== */
/* INDEX GOES TO SINGLE COLUMN */
@media screen and (max-width: 837px) {

  #wrap {
    width: auto;
  }

  #boxes { /* Input boxes on left */
    width: auto;
    float: none;
    display: block;
  }

  #boxes textarea {
    min-height: 240px;
    max-height: 480px;
    field-sizing: content;
    writing-mode: horizontal-tb;
    min-block-size: 240px;
    max-block-size: 480px;
  }

  #buttons {
    display: block;
    float: none;
    margin: 0 0 10px 0;
    width: 180px;
  }

}

/* Setup */
@media screen and (min-width: 937px) {

  #boxes-setup { /* Setup */
    display: inline;
    float: left;
    width: 500px;
    margin-bottom: 1.6em;
  }

  #buttons-setup { /* Setup */
    display: inline;
    float: right;
    width: 460px;
  }

}

/* Setup */
@media screen and (max-width: 1076px) {

  #boxes-setup { /* Setup */
    display: block;
    float: none;
    width: 500px;
    margin-top: 6px; /* No longer floated */
    margin-bottom: 10px;
  }

  #buttons-setup { /* Setup */
    display: block;
    float: none;
    width: 460px;
  }

}

#backup-buttons { /* Backup buttons */
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.group { /* Setup input boxes*/
  display: block;
  width: auto;
  padding-bottom: 6px;
}

.one { /* Setup input boxes col 1*/
  float: left;
  width: 200px;
}

.two { /* Setup input boxes col2 */
  float: right;
  width: 284px; /* Leaves 16px space to .one */
}

#bottom {
  clear: both;
  display: block;
  width: 500px;
}

#buttons-setup { /* Setup */
  margin: 0 0 10px 0;
  padding: 0 0 10px 0;
}

#info { /* htaccess & backup */
  display: block;
  max-width: 600px;
  margin: 22px 0 22px 0;
  padding: 8px 18px 25px 18px;
  background: #fff;
  border: 1px solid #999;
}

div.bg { /* Where is this? */
  position: relative;
  margin: 15px 0 6px 0;
  padding: 16px 18px 10px 18px;
  color: #666;
  background: #ebeff8;
  border: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#stacked { /* div in install.php */
  display: block;
  margin-top: 1.0em;
}

/* Adjustments when screen width is less than 641 */
@media screen and (max-width: 640px) {

  #wrap {
    padding: 0 10px;
  }

  #bottom {
    width: auto;
  }

}

/* Adjustments when screen width is less than 561 */

@media screen and (max-width: 560px) {

  #boxes-setup {
    width: auto;
  }

  .group { /* Setup */
    padding-bottom: 0;
  }

  .one {
    float: none;
    display: block;
    width: auto;
  }

  .two {
    float: none;
    display: block;
    width: auto;
  }

}

/* END LAYOUT */
/* ================================================== */

/* -------------------------------------------------- */
/* Text elements */

h1 {
  margin: 0;
  padding: 20px 0 10px 0;
  display: block;
  font-weight: 600;
  letter-spacing: 0;
  font-size: 1.7em;
  line-height: 1.0;
  color: #000;
  border-bottom: 3px solid #ebebeb;
  text-shadow: 1px 1px 1px #ccc;
}

h1 i {
  color: #666;
}

h3, h5 {
  display: block;
  font-weight: 600;
  font-size: 1.35em;
  color: #333;
  text-shadow: 1px 1px 1px #ddd;
}

h3 {
  margin: 16px 0 6px 0;
  line-height: 1.3;
}

h5 { /* Images */
  margin: 16px 0 10px 0;
  line-height: 1.2;
}

h3 em {
  font-weight: 600;
}

h4 {
  margin: 2px 0 10px 0;
  font-size: 1.0em;
}

p {
  margin: 1.2em 0 0 0;
  padding: 0;
  font-size: 1.0em;
  line-height: 1.4;
}

p#nav {
  margin: 0;
  padding: 6px 0;
  border-bottom: 3px solid #ebebeb;
  line-height: 1.6;
}

p#nav a,
p#nav span { /* For 'page on' (no link) */
  padding: 0 14px 0 10px;
  border-right: 3px solid #ebebeb;
}

p#nav a.ext {
  border-right: none;
}

p#nav span {
  color: #999;
}

p#nav span.zap {
  padding: 0;
  border: none;
  color: #000;
}

p.pages {
  margin-top: 10px;
}

@media screen and (max-width: 640px) {

  p#nav {
    font-size: 1.2em;
    line-height: 1.8;
  }

  p#nav span.zap {
    display: none;
  }

}

/* #info is for htaccess & backup */
#info p,
p.backup {
  font-size: 1.0em;
  margin-top: 1.0em;
}

p#footer {
  clear: both;
  display: block;
  width: 100%;
  text-align: center;
  margin: 1.6em auto 2.4em auto;
  padding-top: 1.2em;
  padding-bottom: 3.25em;
  color: #fff;
  background: #555 url('img/bg_footer.gif') no-repeat;
  background-position: 50% bottom;
  /* x-value y-value blur spread color */
  -webkit-box-shadow: 0 700px 0 700px #555;
  -moz-box-shadow: 0 700px 0 700px #555;
  box-shadow: 0 700px 0 700px #555;
}

p#footer em {
  font-weight: 400;
  color: #f6fffb;
}

p.break_word {
  margin: 1.2em 0 0 0;
  word-break: break-all;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

p.important {
  margin: 1.2em 0;
  padding: 7px 6px 7px 6px;
  border: 1px solid #fe7f40;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

p#upload-progress {
  margin-bottom: 50px;
  font-weight: bold;
  font-style: italic;
  color: #c63;
}

#buttons-setup p {
  margin: 0.6em 0 0 0;
  padding: 0;
}

em {
  font-style: normal;
  font-weight: bold;
  color: #c63;
}

em b {
  color: #000;
}

span {
  color: #999;
}

i {
  font-style: normal;
  color: #c63;
}

/* -------------------------------------------------- */
/* Action box at top */

#response {
  margin: 15px 0 13px 0;
  padding: 3px 0 3px 0;
  height: auto;
  width: 100%;
  font-weight: 400;
  font-size: 1.0em;
  border-top: 3px solid #b4ecd6;
  border-bottom: 3px solid #b4ecd6;
  background: #f6fffb; /* Pale green */
}

#response p { /* Limit width to actual text */
  display: inline;
  margin: 0;
  padding: 0;
}

span.padded-multiline { /* Pads end of every line */
  margin: 0;
  padding: 6px 14px 7px 14px;
  line-height: 1.8;
  color: #000;
  background: #b4ecd6;
  max-width: 100%;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

#response em { /* Not coloured */
  color: #000;
  font-weight: 400;
}

#response b {
  color: #000; /* Not working */
  font-weight: bold;
}

/* -------------------------------------------------- */
/* Lists */

ul {
  margin: 6px 0 0 0;
  padding: 0;
  list-style-type: none;
  font-size: 1.0em;
}

#info ul {
  clear: left;
  margin-left: 25px;
  padding: 5px 0 5px 0;
  list-style-type: disc;
  list-style-position: outside;
  font-size: 1.1em;
  line-height: 1.4;
}

#info li {
  padding: 1px 0 0 0;
}

#list { /* Bottom list */
  display: block;
  clear: both;
  margin-bottom: 14px;
  font-size: 1.0em;
}

#list li.top {
  padding-bottom: 4px;
}

#list li {
  padding: 1px 0 1px 0;
  color: #666;
  border-bottom: 1px solid #f4f4f4;
  line-height: 1.6;
}

#list li.mark {
  background: #f4f4f4;
}

#list span {
  padding: 2px 0 3px 0;
  color: #555;
  background: #fff;
}

#list span:hover {
  color: #000;
  background: #b4ecd6;
}

/* Page on */
#list li.mark span,
#list li.mark span a {
  color: #000;
  background: #f4f4f4;
}

#list li.mark span a:hover {
  color: #03f;
}

/* End text elements */
/* -------------------------------------------------- */
/* Misc */

img.upload {
  margin: 10px 0 10px 0;
  max-width: 100%;
  background: #f4f4f4;
  vertical-align: bottom;
}

div.bg img {
  position: absolute;
  top: 6px; right: 6px;
  opacity: 0.5;
}

div.bg img:hover {
  opacity: 1.0;
}

a {
  color: #03f;
  text-decoration: none;
}

a:hover {
  color: #000;
}

span a {
  color: #999;
}

#response span a { /* Against darker background */
  color: #03f;
}

p#footer a {
  color: #fff;
  border-bottom: 1px dotted #ccc;
}

p#footer a:hover {
  border-bottom: 1px solid #ccc;
}

hr {
  clear: both;
  display: block;
  margin: 10px auto 10px auto;
  padding-bottom: 1px;
  height: 0;
  width: 100%;
  background: #fff;
  border: none;
  border-top: 3px solid #ebebeb;
}

div.bg hr {
  border-top: 2px solid #fff;
}

/* -------------------------------------------------- */
/* Forms */

input:focus,
select:focus,
textarea:focus {
  outline: none;
}

form {
  margin: 0;
}

form#pw {
  width: 290px;
  margin: 1.0em auto 1.0em auto;
  padding: 1.6em 10px 1.0em 10px;
  border: 1px solid #ccc;
}

label {
  display: block;
  margin: 6px 0 4px 0;
  font-size: 1.0em;
  line-height: 1.3;
}

form#pw label {
  display: none;
}

#buttons-setup label { /* Font and language */
  display: inline;
  padding-left: 4px;
}

/* -------------------------------------------------- */
/* Text inputs */

input[type=text].w {
  width: 98%;
}

input[type=text],
input[type=file] {
  font-family: 'Open Sans', Sans-Serif;
  font-size: 1.05em;
}

input[type=text],
textarea {
  margin: 2px 0 8px 0;
  padding: 5px 6px 5px 6px;
  background: #fafafa;
  border: 1px solid #ddd;
  -webkit-appearance: none;
}

form#pw input[type=password] {
  margin: 2px 0 6px 0;
  padding: 6px 6px 6px 6px;
  background: #fafafa;
  border: 1px solid #bbb;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  width: 254px;
  font-size: 1.2em;
  filter: none; /* Gets rid of yellow bg */
}

#boxes-setup .one input[type=text],
#bottom input[type=text] {
  width: 186px;
}

#boxes-setup .two input[type=text] {
  width: 270px;
}

input[type=file] { /* Tricky */
  margin: 2px 0 6px 0;
  padding: 6px 5px 5px 5px;
  background: #fff;
  border: 1px solid #b4ecd6;
  border-radius: 4px;
  font-size: 1.1em;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 1.0em;
  padding: 2px;
}

input[type=checkbox] { /* htaccess.php */
  flex: none;
  margin-right: 6px;
}

/* -------------------------------------------------- */
/* Textareas */

.textarea-container { /* Contains textarea */
  display: flex;
  width: 100%;
}

textarea { overflow: auto;
  /* display: block; */
  margin-top: 0.5em;
  font-family: Consolas, Monaco, monospace;
  font-size: 1.0em;
  line-height: 1.3;
  color: #000;
}

textarea.flexitem {
  flex: 1;
}

/* -------------------- */
/* Submit buttons */

/* Start main colour control */
input[type=submit] { /* All buttons except 'caution' */
  margin: 8px 0 9px 0;
  padding: 7px 6px 8px 5px;
  width: 170px;
  color: #fff;
  background-color: #222;
  border: 1px solid #666;
  border-radius: 0px;
  text-decoration: none;
  text-align: center;
  font-size: 1.05em;
  font-family: 'Open Sans', Sans-Serif;
  transition: all 0.3s ease;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.2);
}

input[type=submit]:hover {
  color: #000;
  background-color: #fafafa;
  border: 1px solid #bbb;
  cursor: pointer;
}
/* End main colour control */

form#pw input[type=submit] { /* Password */
  display: block;
  margin: 6px auto 6px auto;
  padding: 13px 20px 14px 18px;
  font-size: 1.05em;
}

#buttons-setup input[type=submit] { /* Setup */
  display: block;
  width: 170px;
}

input[type=submit].stacked { /* Images (beneath box) */
  margin: 0.6em 0 1.2em 0;
}

/* When single column layout kicks in */
@media screen and (max-width: 837px) {

  #buttons { width: auto; }

  #buttons div input[type=submit] {
    display: inline-block;
    margin: 10px 5px 0 0;
    width: 170px;
  }

}

#backup-buttons input[type=submit] { /* Backup */
  display: inline;
  margin: 10px 5px 0 0;
  width: 150px;
}

input[type=submit].em { /* Setup boxes??? */
  color: #fff;
}

input[type=submit].em:hover { /* Setup boxes??? */
  color: #03f;
}

input[type=submit].caution {
  color: #000;
  background-color: #fafafa;
  border: 1px solid #bbb;
}

input[type=submit].caution:hover {
  color: #fff;
  background-color: #b85454;
  border: 1px solid #b85454;
}

input[type=submit].pre {
  color: #fff;
  background-color: #2491fe;
  border: 1px solid #2491fe;
}

input[type=submit].pre:hover {
  color: #000;
  background-color: #fafafa;
  border: 1px solid #bbb;
  cursor: pointer;
}

/* Enlarge things on screens less than 1201px */
@media screen and (max-width: 640px) { /* (tablets?) */

  input[type=submit] { /* All buttons and dropdowns */
    font-size: 1.2em;
  }

  input[type=text] { /* All input boxes */
    font-size: 1.1em;
  }

  input[type=password] {
    font-size: 1.2em;
  }

}

/* -------------------- */
/* Dropdowns */

select#dropdown {
  margin: 6px 0 2px 0;
  padding: 9px 6px 9px 6px;
  width: 170px;
  color: #000 !important;
  background-color: #f6fffb;
  border: 1px solid #b4ecd6;
  font-family: 'Open Sans', Sans-Serif;
  font-size: 1.05em;
  -webkit-appearance: none !important;
  -moz-appearance: none;
}

/* -------------------- */
/* Misc */

.fade {
  opacity: 0.6;
}

input.fade:hover {
  opacity: 1.0;
}

#buttons-setup input.fade { /* Setup: add a bit of space below bottom button */
  margin-bottom: 0.9em;
}

.stacked { /* Buttons */
  display: block;
  width: 170px;
  padding: 7px 5px 5px 5px;
}

/* End forms */

/* -------------------------------------------------- */
/* Adjustments 1 when screen width is less than 641 */

@media screen and (max-width: 640px) {

  #boxes input[type=text],
  #boxes-setup input[type=text],
  input[type=text].n {
    width: 96%;
  }

  #backup-buttons input[type=submit] {
    width: 170px; /* 150px when inline */
  }

  #bottom input[type=text] {
    width: 186px;
  }

  p {
    font-size: 1.2em;
  }

  label {
    font-size: 1.2em;
  }

  #list { /* Bottom list */
    font-size: 1.2em;
  }

  textarea {
    font-size: 1.2em;
  }

} /* End adjustments 1 */

/* -------------------------------------------------- */
/* Adjustments 2 when screen width is less than 561 */

@media screen and (max-width: 560px) {

  #boxes-setup .one input[type=text],
  #boxes-setup .two input[type=text],
  #bottom input[type=text] {
    width: 60%;
  }

  /* Added 25 Feb 24 for mobile buttons */

  #wrap input[type=submit],
  #backup-buttons input[type=submit] {
    padding: 11px 6px 12px 5px;
  }

} /* End adjustments 2 */

